<div class="main-container" id="restContainer">
  <div class="text">
    <h1>Basic Profile Information (REST)</h1>
    <p>Name: <%= userProfile.name %></p>
    <p>Username: <%= userProfile.username %></p>
    <p>User ID: <%= userProfile.id %></p>
    <p>Primary e-mail: <%= userProfile.email %></p>
    <p>Last activity: <%= userProfile.last_activity_on %></p>
  </div>
  
  <div class="image">
    <img src="<%= userProfile.avatar_url %>" alt="User Avatar">
  </div>
</div>

<div class="main-container" id="graphqlContainer" style="display: none;">
  <div class="text">
    <h1>Basic Profile Information (GraphQL)</h1>
    <p>Name: <%= userProfileGraphQL.name %></p>
    <p>Username: <%= userProfileGraphQL.username %></p>
    <p>User ID: <%= userProfileGraphQL.id %></p>
    <p>Primary e-mail: <%= userProfileGraphQL.publicEmail %></p>
    <p>Last activity: <%= userProfileGraphQL.lastActivityOn %></p>
  </div>
  
  <div class="image">
    <img src="https://gitlab.lnu.se<%= userProfileGraphQL.avatarUrl %>" alt="User Avatar">
  </div>
</div>

<div class="switch-container">
<input type="checkbox" id="toggleSwitch" /> Turn on GraphQL
</div>

<script>
  document.getElementById('toggleSwitch').addEventListener('change', function (event) {
    const restContainer = document.getElementById('restContainer')
    const graphqlContainer = document.getElementById('graphqlContainer')
    if (event.target.checked) {
      restContainer.style.display = 'none'
      graphqlContainer.style.display = 'block'
    } else {
      restContainer.style.display = 'block'
      graphqlContainer.style.display = 'none'
    }
  })
</script>
