<div class="main-container">
  <div class="activities">
    <h1>The 101 most recent GitLab activities</h1>
    <table class="activity-list">
      <thead>
        <tr>
          <th></th>
          <th>Action name</th>
          <th>Created at</th>
          <th>Target title</th>
          <th>Target type</th>
        </tr>
      </thead>
      <tbody>
        <% activities.forEach((activity, index) => { %>
          <tr class="activity">
            <td><%= index + 1 %></li>
            <td><%= activity.action_name %></td>
            <td><%= activity.created_at %></td>
            <td><%= activity.target_title %></td>
            <td><%= activity.target_type %></td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</div>